body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(to bottom, #fdc4c4, #f89999);
    
}

.toDoContainer {
    margin: 10px auto;
    padding: 20px;
    background-color: #fff;
    max-width: 600px;
    text-align: center;
    animation: slideDown 0.8s ease-out;
}
h1 {
    font-size: 49px;
}

.completed span {
    color: gray;
}

#taskList {
    max-width: 300px;
    margin: 20px auto;
    padding: 0;
}

#taskList li {
    
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 8px;
    position: relative;
    animation: taskIn 0.5s ease-out;
    transition: color 0.5s ease;
    font-family: Arial, sans-serif;
    
}

#taskList li span {
    position: relative;
    display: inline-block;
    transition: color 0.3s ease 0.6s;
}

#taskList li span::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 2px;
    background-color: black;
    transition: background-color 0.3s ease 0.6s;
}

#taskList li.completed span::after {
    animation:smothLine 0.5s forwards;
    background-color: gray;
}

#warning {
    color: red;
}

.flashForWarning {
    animation: flashForWarning 0.5s;
}
/* animationen för att slida ner toDoContainer */
@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    
    }
    80% {
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
/* animationen för att lägga till en task */
@keyframes taskIn{
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
/* animationen för flasha texten */
@keyframes flashForWarning {
    0% { 
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}

@keyframes smothLine {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

